body{
  width: 100%;
}
.wrpper{
  width:100%;
  margin:0 auto;
}
header{
  width: 100%;
  background-color: black ;
  display: flex;
  color:white;

}
.logo{
  width: 100px;
  margin-left: 0px;
}
.logo img{
  height: 120px;
  border-radius: 50%;
  transition: width 2s,height 4s,transform 2s;
  }
  .logo img:hover{
    transform: rotate(360deg);
  }


.main{
  font-family: 'Merriweather', serif;
  font-size: 50px;
  margin-top: 1%;
  margin-left: 20%;

}
nav{

  background: silver;
  overflow: hidden;
  font-family: sans-serif;

}
nav ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left:0;
  padding-left: 0;
}
nav li{
  flex: 1;


}
nav a{
  text-decoration: none;
  padding:10px;
  display:block;
  text-align: center;

}
nav a:hover{
  background:white;
}
section{
  overflow: hidden;
  display: flex;
  flex-direction: row;

}

.left{
  width: 25%;
  overflow: hidden;
  font-family: sans-serif;
  color: black;
  font-size: 20px;
  background: linear-gradient(silver,black);
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  padding-left: 5px;

}
.article{
  font-size: 18px;

}
.centre{
  width: 75%;
  text-align: center;
  font-size: 20px;
  background: linear-gradient(black,silver);
  color: white;


}
.centre img{
  height: 330px;
  width: 330px;
  border-radius: 50%;
  transition: width 2s,height 4s,transform 2s;
}
.centre img:hover{
  transform: rotate(360deg);
}


footer{
  width: 100%;
  background:black;
  color:white;
  display:flex;
  justify-content: space-between;

}
.copyright{
  padding-left: 10px;
  margin-top: 20px;
}
.call{
  margin-top: 60px;
}
.follow{
  text-align: center;
}


.follow img{
  margin-right: 10px;
  width:40px;
  height:40px;
  border-radius: 50%;
  transition: width 2s,height 4s,transform 2s;
}
.follow img:hover{
  transform: rotate(360deg);
}
@media all and (max-width:1000px) {
  nav ul{
    flex-direction: column;
  }
  footer{
    width:100%;

  }

}
